.register-right{
    padding-left:30px;
    padding-right:30px;
  }

.login-right{
padding-left:20px;
padding-right:30px;
}

.navbar-brand{
    padding-left: 500px;
}

.body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
  